@import './_mixin';
@import './reset';
@import './formStyle';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

body {
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
  font-family: 'Noto Sans Kr', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    font-weight: 700;

    span {
      font-weight: 300;
    }
  }

  p {
    font-family: 'Noto Serif KR', serif;

  }
}

#nav {
  display: none;

  &~.globalHeader {
    label {

      .normal {
        display: block;
      }

      .active {
        display: none;
      }
    }
  }

  &~.globalMenu {
    display: none;
  }
}

#nav:checked {
  &~.globalHeader {
    label {

      .normal {
        display: none;
      }

      .active {
        display: block;
      }
    }
  }

  &~.globalMenu {
    display: block;
  }
}

.globalHeader {
  width: 100vw;
  background-color: #09f;
  position: fixed;
  top: 0;

  header {
    @include layout-center;
    @include flex-between;

    .logo {
      line-height: var(--top-height);
      color: #fff;
    }

    .menu {
      @include flex-center;
      width: 40px;
      height: 40px;

      button {
        @include flex-center;
        height: 32px;
        width: 32px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        color: #fff;
        border: 0;

        svg {
          height: 20px;
        }
      }
    }
  }
}

.globalMenu {
  width: 70vw;
  height: calc(100vh - var(--top-height));
  position: fixed;
  top: var(--top-height);
  right: 0;
  padding: 10px;
  background-color: #ccc;
  z-index: 99999;
}

.page {
  height: 100vh;
  padding: 70px 0 80px;

  header {
    @include layout-center;

    h4 {
      font-size: 24px;
      line-height: 40px;
    }

  }

  section {
    @include layout-center;
    margin-top: 10px;
  }
}

.globalFooter {

  width: 100vw;
  height: 80px;
  background-color: #666;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  border-radius: 18px 18px 0 0;
  padding-top: 14px;

  nav {
    @include layout-center;

    ul {
      @include flex-center;

      li {
        width: 50px;
        height: 50px;
        margin: 0 5px;
        @include flex-center;
        color: #fff;
      }

      a {
        width: 100%;
        height: 100%;
        @include flex-center;
        flex-direction: column;
        font-size: 36px;

        span {
          font-size: 12px;
        }


      }
    }


  }
}

.pagination {
  @include flex-center;
  margin-top: 12px;

  button {
    padding: 0;
    margin: 0;
    line-height: 100%;
    font-size: 14px;
    width: 32px;
    height: 32px;
    color: #000;
  }

  ul {
    @include flex-center;

    li {

      width: 32px;
      height: 32px;

      &>* {
        @include flex-center;
        width: 100%;
        height: 100%;
      }
    }
  }
}